/* CadetBlue, Chocolate, BurlyWood, Beige, Azure*/

body{
    font-family: Arial;
    background-color: beige;
}

h1,
h2,
th{
    font-weight: bold;
}

h1{
    color: chocolate;
    background-color: burlywood;
}

h2{
    color: cadetblue;
}

th{
    background-color: burlywood;
}

.code{
    font-family: monospace;
    background-color: azure;
}

footer{
    background-color: chocolate;
}